.imagetextleftright__container h2 {
  font-size: 30px;
  margin: 10px 0;
  line-height: 40px;
  font-weight: 700;
}
.imagetextleftright__container p {
  line-height: 30px;
  font-size: 18px;
  color: #636362;
}
.year {
  color: var(--color-text-primary);
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.style__img {
  width: 100%;
}
.close__button {
  display: block;
  margin: 0;
  text-align: right;
}
.close__button button {
  margin: 0;
}
