.cardSlider__container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cardSlider__image {
  position: relative;
}
.cardSlider__image img {
  width: 100%;
  border-radius: 8px;
}
.cardSlider__top__area {
  position: absolute;
  top: 0;
  margin: 1.25rem;
}
.cardSlider__contents {
  z-index: 1;
  height: 100%;
  width: 100%;
  flex-flow: column;
  display: flex;
  position: absolute;
  bottom: 15px;
}
.cardSlider__contents h4 {
  max-width: 100%;
  font-weight: bold;
  line-height: 1.8rem;
  color: #fff;
  font-size: 1.6rem;
}
.cardSlider__title {
  position: absolute;
  bottom: 0;
  margin: 2rem;
}

.cardSlider__contents button {
  padding: 10px 15px;
  margin: 20px 20px;
  border-radius: 50px;
  background: #fff;
  color: #a2bb0c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.cardSlider__area:nth-child(even) {
  margin-top: 20px !important;
}
.slider__single__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 30px 0;
}
.slider__single__card h4 {
  font-size: 1.25rem;
}
