.banner__area {
  padding: 100px 0;
}
.banner__container h2 {
  font-size: 48px;
  color: #363635;
  padding-bottom: 20px;
  font-weight: bold;
  line-height: 58px;
}
.banner__container span {
  color: #a2bb0c;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
  font-size: 20px;
}
.banner__content {
  margin: 20px 35px 20px 70px;
}
.banner__content p {
  line-height: 30px;
  color: #636362;
  font-size: 18px;
  letter-spacing: 1px;
}
.banner__content button {
  margin: 1.8rem 0;
}
.img__container {
  padding: 20px 0;
}
.img__container img {
  max-width: 100%;
}

/* ==== MEDIA QUERIES (SMALL DEVICES) ==== */

@media screen and (max-width: 768px) {
  .banner__content {
    margin: 20px 0;
  }
  .banner__container h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .img__container {
    padding: 20px 0;
  }
}
@media screen and (max-width: 425px) {
  .img__container {
    padding: 20px 0;
  }
}
