.history__container h2 {
  font-size: 48px;
  color: #363635;
  padding-bottom: 20px;
  line-height: 58px;
  font-weight: 600;
}
.history__container p {
  margin: 20px 35px 20px 70px;
  line-height: 30px;
  color: #636362;
  font-size: 18px;
}
