@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li,
button {
  font-family: "Manrope", sans-serif;
}
:root {
  --color-bg-primary: #a2bb0c;
  --color-bg-secondary: #007f8f;
  --color-bg-white: #fff;
  --color-text-primary: #a2bb0c;
  --color-text-secondary: #007f8f;
  --color-text-dark: #363635;
  --color-text-white: #fff;
}
.bg__primary {
  background-color: var(--color-bg-primary);
}
.bg__secondary {
  background-color: var(--color-bg-secondary);
}
.text__primary {
  color: var(--color-text-primary);
}
.text__secondary {
  color: var(--color-text-secondary);
}
.text__dark {
  color: var(--color-text-dark);
}
.text__white {
  color: var(--color-text-white);
}
.btn__green {
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);
  border-radius: 4px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn__green:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-white);
  transition: 0.5s;
}
.btn__green a {
  text-decoration: none;
  font-size: 14px;

  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-text-white);
}
.btn__green a:hover {
  text-decoration: none;
  color: var(--color-text-white);
}
.pxy-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}
/* Button white */

.btn__white {
  border-radius: 50px;
  background: #fff;
  color: #a2bb0c;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
}
.btn__white:hover {
  background: #a2bb0c;
  color: #fff;
  transition: 0.3s;
}

/* SVG */

.line_svg_block {
  text-align: center;
}
.steps .svg_arrow .line,
.steps .svg_arrow .arrow {
  stroke: #fff;
  stroke-width: 14;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.steps .svg_arrow .line {
  stroke-dasharray: 1040;
  stroke-dashoffset: 1040;
  transition: none;
}
.steps .arrow2 .path2 {
  stroke-dasharray: 1780;
  stroke-dashoffset: 1780;
  transition: none;
}
.steps .arrow3 .path2-03 {
  stroke-dashoffset: 1780;
  stroke-dasharray: 1780;
}
.steps .svg_arrow .arrow,
.steps .svg_arrow .words {
  opacity: 0;
  transition: none;
}
.steps .svg_arrow.visible .path2,
.steps .svg_arrow.visible .line {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s ease;
}
.steps li .svg_arrow.visible .words {
  opacity: 1;
  transition: opacity 0.8s ease 0.4s;
}
.steps li .svg_arrow.visible .arrow {
  opacity: 1;
  transition: opacity 0.5s ease 1.2s;
}
/* 02 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.path {
  fill: none;
}
.path1-first,
.path1-03,
.path1-01,
.path1 {
  opacity: 0.24;
  fill: none;
  stroke: #a3ba00;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 8;
  enable-background: new;
}
.path2 {
  stroke: #a2bb0c;
  stroke-width: 3px;
  stroke-dasharray: 1094;
  stroke-dashoffset: 1094;
  animation: animation 2s linear forwards;
}
.arrow2-first .path2-first {
  stroke: #a2bb0c;
  stroke-width: 3px;
  stroke-dasharray: 632;
  stroke-dashoffset: 632;
  animation: animation2-first 2s linear forwards;
}
.arrow2 .path2-02 {
  stroke: #a2bb0c;
  stroke-width: 3px;
  stroke-dasharray: 1780;
  stroke-dashoffset: 1780;
  animation: animation2 2s linear forwards;
}
.arrow3 .path2-03 {
  stroke: #a2bb0c;
  stroke-width: 3px;
  stroke-dasharray: 1780;
  stroke-dashoffset: 1780;
  animation: animation3 2s linear forwards;
}
.st1 {
  fill: #a3ba00;
}
.st2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
@keyframes animation {
  from {
    stroke-dashoffset: 1094;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animation2-first {
  from {
    stroke-dashoffset: 632;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animation2 {
  from {
    stroke-dashoffset: 1780;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animation3 {
  from {
    stroke-dashoffset: 1780;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.fadeInAnim .svg_arrow .circle,
.fadeInAnim .svg_arrow .circle animateMotion,
.fadeInAnim .svg_arrow .path2 {
  /* opacity: 0; */
  transition: none;
  display: none;
}
.fadeInAnim .svg_arrow.visible .circle,
.fadeInAnim .svg_arrow.visible .circle animateMotion {
  /* opacity: 1;   */
  display: block;
}
.fadeInAnim .svg_arrow.visible .path2 {
  /* opacity: 1;   */
  /* animation: animation 3s linear forwards; */
  display: block;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s ease;
}
/* arrow2-first */
.fadeInAnim .svg_arrow .circle,
.fadeInAnim .svg_arrow .circle animateMotion,
.fadeInAnim .svg_arrow .path2-first {
  /* opacity: 0; */
  transition: none;
  display: none;
}
.fadeInAnim .svg_arrow.visible .circle,
.fadeInAnim .svg_arrow.visible .circle animateMotion {
  /* opacity: 1;   */
  display: block;
}
.fadeInAnim .svg_arrow.visible .path2-first {
  /* opacity: 1;   */
  /* animation: animation 3s linear forwards; */
  display: block;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s ease;
}
/* arrow2 */
.fadeInAnim .svg_arrow .circle,
.fadeInAnim .svg_arrow .circle animateMotion,
.fadeInAnim .svg_arrow .path2-02 {
  /* opacity: 0; */
  transition: none;
  display: none;
}
.fadeInAnim .svg_arrow.visible .circle,
.fadeInAnim .svg_arrow.visible .circle animateMotion {
  /* opacity: 1;   */
  display: block;
}
.fadeInAnim .svg_arrow.visible .path2-02 {
  /* opacity: 1;   */
  /* animation: animation 3s linear forwards; */
  display: block;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s ease;
}
/* arrow3 */
.fadeInAnim .svg_arrow .circle,
.fadeInAnim .svg_arrow .circle animateMotion,
.fadeInAnim .svg_arrow .path2-03 {
  /* opacity: 0; */
  transition: none;
  display: none;
}
.fadeInAnim .svg_arrow.visible .circle,
.fadeInAnim .svg_arrow.visible .circle animateMotion {
  /* opacity: 1;   */
  display: block;
}
.fadeInAnim .svg_arrow.visible .path2-03 {
  /* opacity: 1;   */
  /* animation: animation 3s linear forwards; */
  display: block;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s ease;
}
.bg_div {
  width: 100%;
  height: auto;
  padding-left: 29%;
}
.main-title {
  margin: 10px 0;
}
@media (max-width: 1600px) {
  .bg_div {
    padding-left: 48%;
  }
}
@media (max-width: 1300px) {
  .fadeInAnim .svg_arrow {
    display: none;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, ">") !important;
}
.breadcrumb-item a {
  color: var(--color-text-primary);
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: var(--color-text-secondary);
}
