@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li,
button {
  font-family: "Manrope", sans-serif;
}
:root {
  --color-bg-primary: #a2bb0c;
  --color-bg-secondary: #007f8f;
  --color-bg-white: #fff;
  --color-text-primary: #a2bb0c;
  --color-text-secondary: #007f8f;
  --color-text-dark: #363635;
  --color-text-white: #fff;
}
.bg__primary {
  background-color: var(--color-bg-primary);
}
.bg__secondary {
  background-color: var(--color-bg-secondary);
}
.text__primary {
  color: var(--color-text-primary);
}
.text__secondary {
  color: var(--color-text-secondary);
}
.text__dark {
  color: var(--color-text-dark);
}
.text__white {
  color: var(--color-text-white);
}
.btn__green {
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);
  border-radius: 4px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn__green:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-white);
  transition: 0.5s;
}
.btn__green a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-text-white);
}
.btn__green a:hover {
  text-decoration: none;
  color: var(--color-text-white);
}
